{
  "branches": [
    "main",
    {
      "name": "rc",
      "prerelease": true
    },
  ],
  extends: "semantic-release-monorepo",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "npmPublish": true,
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md"
        ],
        "message": "chore(release): v${nextRelease.version} \n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github",
    ]
  ]
}