name: Code Check

on:
  push:
    branches:
      # 检查非 main 分支
      - '!main'

jobs:
  code-check:
    name: Code Check
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/ci-setup

      - name: Check Style
        run: pnpm lint

      - name: Check Type
        run: pnpm typecheck
