name: Release

on:
  push:
    branches:
      - main
      - next
    paths:
      - 'packages/**'
      - '.changeset/**'
      - eslint.config.mjs
      - 'scripts/**'
      - '.github/**'
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

# permissions:
#   id-token: write # Required for OIDC
#   contents: read

jobs:
  release:
    name: Release
    if: github.repository == 'uozi-tech/admin-kit'
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write
    runs-on: macos-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/ci-setup

      - name: Code Check
        run: pnpm lint

      - name: Type Check
        run: pnpm typecheck

      - name: Create Release Pull Request or Publish to npm
        # https://github.com/changesets/action
        uses: changesets/action@v1
        with:
          # this expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: pnpm release
          version: pnpm version-packages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
